
<link href="{{ url_for('static', filename='assets/css/black-dashboard.css')}}?v=1.0.0" rel="stylesheet" />

<script src="{{ url_for('static', filename='assets/js/core/jquery.min.js') }}"></script>
<script src="{{ url_for('static', filename='assets/js/core/popper.min.js') }}"></script>
<script src="{{ url_for('static', filename='assets/js/core/bootstrap.min.js') }}"></script>

<!-- Chart JS -->
<script src="{{ url_for('static', filename='assets/js/plugins/chartjs.min.js') }}"></script>


<div class="content" style="width: 100%; padding-top: 35px;">
    <div class="row">
        <div class="col-12">
            <div class="card card-chart">
                <div class="card-header ">
                    <div class="row">
                        <div class="col-sm-6 text-left">
                        </div>
                        <div class="col-sm-6">
                            <div class="btn-group btn-group-toggle float-right" data-toggle="buttons">
                                <label class="btn btn-sm btn-primary btn-simple btn-label active" id="0">
                                    <input type="radio" name="options" checked>
                                    <span class="d-none d-sm-block d-md-block d-lg-block d-xl-block">Inversion Shaft1</span>
                                    <span class="d-block d-sm-none">
                                        <i class="tim-icons icon-single-02"></i>
                                    </span>
                                </label>
                                <label class="btn btn-sm btn-primary btn-simple btn-label" id="1">
                                    <input type="radio" class="d-none d-sm-none" name="options">
                                    <span class="d-none d-sm-block d-md-block d-lg-block d-xl-block">Inversion Shaft2</span>
                                    <span class="d-block d-sm-none">
                                        <i class="tim-icons icon-gift-2"></i>
                                    </span>
                                </label>
                                <label class="btn btn-sm btn-primary btn-simple btn-label" id="2">
                                    <input type="radio" class="d-none" name="options">
                                    <span class="d-none d-sm-block d-md-block d-lg-block d-xl-block">Stop Shaft1</span>
                                    <span class="d-block d-sm-none">
                                        <i class="tim-icons icon-tap-02"></i>
                                    </span>
                                </label>
                                <label class="btn btn-sm btn-primary btn-simple btn-label" id="3">
                                    <input type="radio" class="d-none" name="options">
                                    <span class="d-none d-sm-block d-md-block d-lg-block d-xl-block">Stop Shaft2</span>
                                    <span class="d-block d-sm-none">
                                        <i class="tim-icons icon-tap-02"></i>
                                    </span>
                                </label>
                                <label class="btn btn-sm btn-primary btn-simple btn-label" id="4">
                                    <input type="radio" class="d-none" name="options">
                                    <span class="d-none d-sm-block d-md-block d-lg-block d-xl-block">All Data</span>
                                    <span class="d-block d-sm-none">
                                        <i class="tim-icons icon-tap-02"></i>
                                    </span>
                                </label>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card-body">
                    <div class="chart-area">
                        <canvas id="chartBig1"></canvas>

                    </div>
                </div>
    <form  id="myForm" onsubmit="updateChart();return false">

        <label for="startDate" class="home-text088">Start Date</label>
        <input type="date" class="home-text098" id="startDate" required>
        <label for="endDate" class="home-text088">End Date</label>
        <input type="date" class="home-text098" id="endDate" required>
        <input type="submit" class="button" value="Update Chart">
    </form>

            </div>
        </div>
    </div>

</div>



<script type="text/javascript">
	
type = ['primary', 'info', 'success', 'warning', 'danger'];
var chart_labels = {
        "InversionShaft1":{{chart_data['Date'].values.tolist() | safe}},
        "InversionShaft2":{{chart_data['Date'].values.tolist() | safe}},
        "Stop_Shaft1":{{chart_data['Date'].values.tolist() | safe}},
        "Stop_Shaft2":{{chart_data['Date'].values.tolist() | safe}},
        "All_Data": {{chart_data['Date'].values.tolist() | safe}}
         }
var chart_data = {
    "InversionShaft1":{{chart_data['InversionShaft1'].values.tolist() | safe}},
    "InversionShaft2":{{chart_data['InversionShaft2'].values.tolist() | safe}},
    "Stop_Shaft1":{{chart_data['Stop_Shaft1'].values.tolist() | safe}},
    "Stop_Shaft2":{{chart_data['Stop_Shaft2'].values.tolist() | safe}},

};
var chart_color={"InversionShaft1":"#ffdbee","InversionShaft2":"#fcad23","Stop_Shaft1":"#d3a2f4","Stop_Shaft2":"#54faea"}
window.startdate= {{chart_data['Date'].values.tolist() | safe}}[0]
window.enddate=({{chart_data['Date'].values.tolist() | safe}}).pop()
var chart_name="InversionShaft1";
window.chart_name=chart_name;
var reconnectFrequencySeconds = 1;

// Putting these functions in extra variables is just for the sake of readability


    gradientChartOptionsConfigurationWithTooltipPurple = {
      maintainAspectRatio: false,
      legend: {
        display: false
      },

      tooltips: {
        backgroundColor: '#f5f5f5',
        titleFontColor: '#333',
        bodyFontColor: '#666',
        bodySpacing: 4,
        xPadding: 12,
        mode: "nearest",
        intersect: 0,
        position: "nearest"
      },
      responsive: true,
  
    };




    var ctx = document.getElementById("chartBig1").getContext('2d');

    var gradientStroke = ctx.createLinearGradient(0, 230, 0, 50);

    gradientStroke.addColorStop(1, 'rgba(72,72,176,0.1)');
    gradientStroke.addColorStop(0.4, 'rgba(72,72,176,0.0)');
    gradientStroke.addColorStop(0, 'rgba(119,52,169,0)'); //purple colors
    var config = {
      type: 'line',
      data: {
        labels: chart_labels[chart_name],
        datasets: [{
          label: "value",
          fill: true,
          backgroundColor: gradientStroke,
          borderColor: '#d346b1',
          borderWidth: 2,
          borderDash: [],
          borderDashOffset: 0.0,
          pointBackgroundColor: '#d346b1',
          pointBorderColor: 'rgba(255,255,255,0)',
          pointHoverBackgroundColor: '#d346b1',
          pointBorderWidth: 20,
          pointHoverRadius: 4,
          pointHoverBorderWidth: 15,
          pointRadius: 4,
          data: chart_data[chart_name],
        }]
      },
      options: gradientChartOptionsConfigurationWithTooltipPurple
    };
    var myChartData = new Chart(ctx, config);
    $("#0").click(function() {
      chart_name="InversionShaft1"
      window.chart_name=chart_name
      updateChartDataWithinTimeRange(window.startdate, window.enddate);
    });



    $("#1").click(function() {
      chart_name="InversionShaft2"
      window.chart_name=chart_name
      updateChartDataWithinTimeRange(window.startdate, window.enddate);
    });

    $("#2").click(function() {
      chart_name="Stop_Shaft1"
      window.chart_name=chart_name
      updateChartDataWithinTimeRange(window.startdate, window.enddate);
    });

    $("#3").click(function() {
      chart_name="Stop_Shaft2"
      window.chart_name=chart_name
      updateChartDataWithinTimeRange(window.startdate, window.enddate);
    });

    $("#4").click(function() {
      chart_name="All_Data"
      window.chart_name=chart_name
      updateAllChartDataWithinTimeRange(window.startdate, window.enddate);
    });



  function updateAllChartDataWithinTimeRange(startDate, endDate){
    var startDate=new Date(startDate);
    var endDate= new Date(endDate);


    var chart_name= 'All_Data';
    var labels= chart_labels[chart_name];
    var data= chart_data;


    var datasets_obj=Object.assign({}, config.data.datasets[0]);
    var datasets_list=[]



 for(const [key, value] of Object.entries(data)) {
    var filteredLabels = [];
    var filteredData = [];
    var item_data= value;
    for (var i = 0; i < labels.length; i++) {
        var date = new Date(labels[i]);
        if (date >= startDate && date <= endDate) {
            filteredLabels.push(labels[i]);
            filteredData.push(item_data[i]);
        }
    }

    let temp_obj = Object.assign({}, datasets_obj)
    temp_obj['label']=key;
    temp_obj['borderColor']= chart_color[key];
    temp_obj['data']= filteredData;
    datasets_list.push(temp_obj);
}
   
    config.data.labels=filteredLabels;
    config.data.datasets=datasets_list;
    console.log(config);
    myChartData= new Chart(ctx, config);
    console.log(config);

  }
















  function updateChartDataWithinTimeRange(startDate, endDate){
    var startDate=new Date(startDate);
    var endDate= new Date(endDate);


  	var chart_name= window.chart_name;
  	var labels= chart_labels[chart_name];
  	var data= chart_data[chart_name];
    var datasets_obj= Object.assign({},config.data.datasets[0]);
  	var filteredLabels = [];
    var filteredData = [];



    for (var i = 0; i < labels.length; i++) {
        var date = new Date(labels[i]);
        if (date >= startDate && date <= endDate) {
            filteredLabels.push(labels[i]);
            filteredData.push(data[i]);
        }
    }

    config.data.labels=filteredLabels;
    datasets_obj['data']=filteredData;
    datasets_obj['label']= chart_name;
    datasets_obj['borderColor']=chart_color[chart_name];

    config.data.datasets=[datasets_obj];


    myChartData.update();

  }


        function updateChart() {
            var startDate = document.getElementById('startDate').value;
            var endDate = document.getElementById('endDate').value;
            if (startdate){
            window.startdate=startDate;}
            if(endDate){
            window.enddate=endDate;}
         
            // Update the chart data within the specified time range
            if(window.chart_name=='All_Data'){
            updateAllChartDataWithinTimeRange(window.startdate, window.enddate);    
            }
            else{
            updateChartDataWithinTimeRange(window.startdate, window.enddate);
        }

        }

</script>


