<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Machine - Zato</title>
  <link href="https://cdnjs.cloudflare.com/ajax/libs/paper-css/0.2.3/paper.css" rel="stylesheet"/>
  <link rel="stylesheet" href="{{ url_for('static', filename='home/index.css') }}" />
  <link rel="stylesheet" href="{{ url_for('static', filename='home/style.css') }}" />
  <script data-require="jquery@*" data-semver="1.11.0" src="//cdnjs.cloudflare.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
  <script src="{{ url_for('static', filename='home/script.js') }}"></script>


</head>
<body class="A4">
  <style data-tag="default-style-sheet">
            *{
        -webkit-print-color-adjust:exact;
      }
  </style>

  <section class="sheet padding-10mm frontpage">
  <div class="home-container081">
          
          <a  class="button" href="{{url_for('hello')}}" id="back">Back</a>
  </div>
    
    <div class="home-container">
        
      <div class="home-header">

        <div class="home-logo-title">
          <img
          alt="pastedImage"
          src="{{ url_for('static', filename='home/public/external/Zato_Logo_R_2022_fondo_blu.png') }}"
          class="home-logo"
          />
          <span class="home-title">Service Report</span>
        </div>
        <span class="home-copyright">
          Unauthorized reproduction is prohibited
        </span>
      </div>
    <form action="{{ url_for('update_machine_attributes') }}" method="post" style="width:100%">
      <div class="home-machine-data">
        <div class="home-container01">
          
          <div class="home-container02">
            <span class="home-text">Model</span>
            <input type="text" name="machine_model" class="home-text001"  value="{{ machine_details['machine_model'] if machine_details['machine_model'] is not none and machine_details['machine_model']|length>0 else 'Model' }}"  style="border:none;">
          </div>
          <div class="home-container03">
            <span class="home-text002" >s/n</span>
            <input type="text" name="serial_number" class="home-text001"  value="{{machine_details['serial_number'] if machine_details['serial_number'] is not none and machine_details['serial_number']|length>0 else 's/n'}}">
          </div>
          <div class="home-container04">
            <span class="home-text004" >Customer</span>
            <input type="text" name="machine_customer" class="home-text001"  value="{{machine_details['machine_customer'] if machine_details['machine_customer'] is not none and machine_details['machine_customer']|length>0 else 'customer'}}">
          </div>
          <div class="home-container05">
            <span class="home-text006" >Country</span>
            <input type="text" name="country" class="home-text001"  value="{{machine_details['country'] if machine_details['country'] is not none and machine_details['country']|length>0 else 'country'}}">
          </div>

          
        
        </div>
        <div class="home-container06">
          <div class="home-container07">
            <span class="home-text008" >Commissioning</span>
            <input type="text" name="commissioning" class="home-text001"  value="{{machine_details['commissioning'] if machine_details['commissioning'] is not none and machine_details['commissioning']|length>0 else 'default'}}">
          </div>
          <div class="home-container08">
            <span class="home-text012" >Under Warranty</span>
            <input type="text" name="under_warranty" class="home-text001"  value="{{machine_details['under_warranty'] if machine_details['under_warranty'] is not none and machine_details['under_warranty']|length>0 else 'default'}}">
          </div>
          <div class="home-container08">
            <span class="home-text012" >Machine ID</span>
            <input type="text" name="machine_id" class="home-text001"  value="{{machine_id}}">
          </div>
          <div class="home-container08">
          <input type="submit" class="button" value="Update" id="update_button">
          </div>
        </div>
      </div>
      <div class="home-maintenance">
        <div class="home-container11">
          <span class="home-text018" >Analyzed period</span>
          <input type="text" name="analyzed_period" class="home-text001"  value="{{machine_details['analyzed_period'] if machine_details['analyzed_period'] is not none and machine_details['analyzed_period']|length>0 else 'default'}}">
        </div>
        <div class="home-container12">
          <span class="home-text020" >Working days</span>
          <span class="home-text021" >
            <input type="text" name="working_days" class="home-text001"  value="{{machine_details['working_days'] if machine_details['working_days'] is not none and machine_details['working_days']|length>0 else 'default'}}">
            <br />
          </span>
        </div>
        <div class="home-container13">
          <span class="home-text024" >
            Total working hours <br> from  commissioning
          </span>
          <input type="text" name="total_working_hours" class="home-text001"  value="{{machine_details['total_working_hours'] if machine_details['total_working_hours'] is not none and machine_details['total_working_hours']|length>0 else 'default'}}">
        </div>
        <div class="home-container14">
          <span class="home-text028" >Last maintenance</span>
          <input type="text" name="last_maintenance" class="home-text001"  value="{{machine_details['last_maintenance'] if machine_details['last_maintenance'] is not none and machine_details['last_maintenance']|length>0 else 'default'}}">
        </div>
      </div>
    </form>
      <br>
      <table class="table table-striped home-table">
        <span id="titlediv">
          &nbsp;
        <caption>&nbsp;&nbsp;Machine data</caption></span>
        <thead>
        <tr >
          <th scope="col">Date</th>
          <th scope="col">Inversions Shaft 1</th>
          <th scope="col">Inversions Shaft 2</th>
          <th scope="col">Hours Cycle ON</th>
          <th scope="col">Inversion p/hour</th>
          <th scope="col">Stop SW 1</th>
          <th scope="col">Stop SW 2</th>
          <th scope="col">Stop p/hour</th>  
        </tr>
        </thead>
        <tbody>
        {% for idx, row in machine_df.iterrows() %}
        <tr >
          <td>{{ row['Date']  }}</td>
          <td>{{ row['InversionShaft1']  }}</td>
          <td>{{ row['InversionShaft2']  }}</td>
          <td>{{ row['HoursCycle']  }}</td>
          <td>{{ row['InversionsperHour']  }}</td>
          <td>{{ row['Stop_Shaft1']  }}</td>
          <td>{{ row['Stop_Shaft2']  }}</td>
          <td>{{ '%0.2f'| format(row['NStopperHour']|float)  }}</td>
        </tr>

        {% endfor %}

        </tbody>

      </table>



      {% include 'home/chart2.html' %}




      <div class="home-suggestions">
        <span class="home-text088">Suggestions:</span>

        <div id="suggestionsdiv"> </div>
        <div class="home-container06 home-flexdiv" style="padding-top: 16px;">
          <div class="home-container070" style="flex:3">

          <textarea
          placeholder="Write suggestions..."
          class="textarea home-textarea"
          id="inputsuggestions" style="width: 100%;"
          ></textarea>
        </div>

        <div class="home-container08">
          <button type="button" class="button home-button"  style="margin-left:8px" id="submitsuggestions" onclick=fillData()>Send</button>
        </div>
        </div>
      </div>
      <div class="home-notes" id="home-notes">
        <span class="home-text093">Additional notes</span>
        <div id="all_notes_container"></div>

        <div class="home-note1">
          <div class="home-container18">
            
            <span class="home-text096">
              <input  class="home-text097" id="imagenotes"  type='file' multiple  hidden />
              <label for="imagenotes" class="home-text097">Select File</label>
            </span>
            
          </div>
          <textarea
          placeholder="Write note..."
          class="textarea home-textarea1"
          id='notebox' style="height: 120px;margin-left:15px;text-align:left"
          ></textarea>
          <button type="button"  class="button home-button1" style="margin-left:8px" onclick='showSelectedPhotos()' >
            Send
          </button>
        </div>
      </div>
      <div class="home-suggestions1" id="homesuggestions">
        <span class="home-text099">
          <span class="home-text100">
            All the data are based on Ewon installed on your GF and
            transmitted to our database.
          </span>
          <br />
          <span>
            All the calculations obtained are averages, therefore the do not
            consider the eventual peak but the <a href="#" onclick="hide_suggestions()">mathematical</a> average.
          </span>
          <br />
        </span>
      </div>
    </div>    
  </section>
  
</body>

</html>